@charset "UTF-8"; /*charset: Grupo de caracteres, no nosso caso utf-8: caracteres latinos; */

/*Formatação do BODY (cormpo, área estrutural, onde esta o conteúdo)*/
body
{
    background: url(_imagens/fundo.jpg) ;
    background-color: #211C1B; /*Cor de funda da página*/
    margin: 0;/*Resetando o espaço externo da página*/
    padding: 0; /*Resetando o espaço interno da página*/
}

/*Formatação da DIV*/
div
{
    position: absolute; /*Posicionamento absoluto, resumindo, fiz para poder usar o top, left...*/
    top: 5%; /*Posição de acordo com o topo*/
    left: 25%; /*Posição de acordo com o a esquerda*/

    width: 50%; /*Largura da DIV*/
    height: 400px; /*Altura da DIV*/

    background-color: #5a5a5ada; /*Cor de fundo da Área da DIV*/
    box-shadow: 0px 20px 10px rgb(73, 73, 73); /*Uma sombra pra a área da DIV*/

    box-sizing: border-box; /*Cria um caixa dentro da área */
    border: 1px solid white; /*Borda da DIV*/ 

    padding-left: 20px; /*Espaço interno a Esquerda*/
    padding-right: 20px; /*Espaço interno a Direita*/
    padding-bottom: 10px; /*Espaço interno Abaixo*/

/*Texto dentro da DIV*/
    font-family: 'Press Start 2P', cursive; /*Fonte do texto dentro da DIV*/
    color:white; /*Cor do texto*/
    text-align:justify; /*Alinhamento do texto*/

}

/*Formatação do titulo h1 OBS: dentro da DIV*/
div h1
{
    font-size: 20px; /*Tamanho da fonte do texto*/
    text-shadow: 3px 3px 5px black; /*Sobra para o texto*/
    text-align: center; /*Alinhamento do texto*/
    border-bottom: 1px solid white; /*Borda abaixo do texto*/

}